    body {
        background-color: #BED8FC;
    }
    
    .flex {
        display: flex;
    }
    
    .imgL {
        padding-left: 50px;
        :
    }
    
    .pR {
        padding-top: 80px;
    }
    
    .imgR {}
    
    .pL {
        padding-left: 50px;
        padding-top: 80px;
    }
    
    #bigDiv {
        display: flex;
    }
    
    #gifDiv {
        margin-top: 280px;
        margin-left: 290px;
    }