*{
  padding: 0%;
  margin: 0%;
}
/* header */
#header {
  height: 100px;
  background-color: #EFEFEF;
  position: static;
  display: flex;
  justify-content:space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#new{
   display: flex;
   font-family:"open_sanssemibold", Arial, sans-serif ;
}
.headerText{
    text-decoration: none;
    font-family:"open_sanssemibold", Arial, sans-serif ;
    padding-left: 20px;
    font-weight: 500;
    color: black;
}
.headerText:hover{
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
/* background img */
#img1 {
  height: 900px;
  width: 100%;
  background-image:url(https://deothemes.com/envato/sedona/html/img/revolution/home-1/1.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}
#imgText{
  font-family:"open_sanssemibold", Arial, sans-serif ;
  font-size: 50px;
  color: #FFB31A  ;
}
/* 25 years of Experience  */
#years{
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
#Experience{
  margin-top: 120px;
}
#text1{
  font-size: 50px;
  font-family:"Barlow", sans-serif;
}
.text2{
  margin-top: 20px;
  font-family: "Open Sans", sans-serif ;
  color: #868686;
}
/* Discover Recent Works */
#flex{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#WorksImg3{
  display: flex;
  flex-direction:column;
  margin-left: 30px;
}
#imgP{
  padding-bottom: 30px;
}
#imgP2{
  margin-right: 30px;
}
.hover:hover{
  /* opacity: 0.5; */
  color:#7B7977;
}

